.style__container--25k18 {
    right: 136px;
    bottom: 14px;
    height: 60px;
    width: 60px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 2000;
}

.style__back-top-inner--3DOPB {
    text-align: center;
    background-color: #4b4b4b;
    border: 1px solid #6e6e6e;
    height: 60px;
    width: 60px;
    padding-top: 5px;
    border-radius: 5px
}

.style__back-top-inner--3DOPB i {
    font-size: 1.6em;
}.style__cell-viewer--2yy3F{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 45vw;
    width: 100%;
}

.style__cell-viewer--2yy3F .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}.style__container--1QLpn {
    display: inline;
}

.style__menu--3nC0E a{
    display: inline;
}
.style__container--2a80r .ant-checkbox-inner {
    background-color: inherit;
}

.style__container--2a80r .ant-badge {
    margin: auto;
    padding: 4px;
}

.style__container--2a80r{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.style__container--2a80r .ant-badge sup {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.style__label--qfuCJ {
    -webkit-box-flex: 1;
        -ms-flex: 1 66%;
            flex: 1 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.style__first-column--3dKE9 {
    margin-top: 5px;
}

.style__container--2a80r .ant-badge.ant-badge-not-a-wrapper {
    padding-right: 0;
}

.style__container--2a80r button {
    margin: 0.2em 0em 0.2em 1em;
}.style__color-by-switch--LlTQq {
    background-color: #6e6e6e;
}

.style__color-by-switch--LlTQq.ant-switch-checked {
    background-color: #8048f3;
}

.style__color-by-row--2738P {
    margin-bottom: 1em;
}

.style__label--3W_cl{
    color: #ffffff;
    padding-right: 1em;
}.style__plot-by-on-x--2opAx {
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 100;
}

.style__plot-by-on-y--2d4YU {
    position: absolute;
    bottom: 50%;
    left: 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    z-index: 100;
}

.ant-select-arrow {
    color: white;
}.style__color-by-row--3RQTv {
  margin-bottom: 1em;
}

.ant-select.ant-select-enabled {
  color: #ffffff;
}

.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked{
  background-color: #6e6e6e;
  color: #131313;
}

.style__bar-chart-header--2oblB{
  border-bottom: 0.5px solid #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.style__color-by-row--3RQTv .ant-select {
  width: 100%;
}.style__follower--s1v90 {
    position: absolute;
}

.style__container--MWnN3 {
    width: 80px;
}

.style__container--MWnN3 .ant-card-body {
    padding: 2px;
}.style__container--3YOZp {
    -webkit-animation: none 0s ease 0s 1 normal none running;
            animation: none 0s ease 0s 1 normal none running;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-collapse: separate;
    -o-border-image: none;
       border-image: none;
    border-radius: 0;
    border-spacing: 0;
    bottom: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: #000;
    -webkit-columns: auto;
            columns: auto;
    -webkit-column-count: auto;
            column-count: auto;
    -webkit-column-fill: balance;
            column-fill: balance;
    -webkit-column-gap: normal;
            column-gap: normal;
    -webkit-column-rule: medium none currentColor;
            column-rule: medium none currentColor;
    -webkit-column-span: 1;
            column-span: 1;
    -webkit-column-width: auto;
            column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font-family: serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    height: auto;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    left: auto;
    letter-spacing: normal;
    list-style: disc outside none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 2;
    outline: medium none invert;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    -webkit-perspective: none;
            perspective: none;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
    position: static;
    right: auto;
    -moz-tab-size: 8;
      -o-tab-size: 8;
         tab-size: 8;
    table-layout: auto;
    text-align: left;
    text-align-last: auto;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
            transform-style: flat;
    -webkit-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 2;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    all: initial;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em 1.5em 5em 5em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 2em;
}

.modebar {
    bottom: 2em!important;
    top: auto!important;
    top: initial!important;
    right: 18%!important;
}

.modebar-btn.active{
    background-color: #8048f3;
    color: white;
}

.modebar-btn.active path{
    /*override plotly svg styling*/
    fill: white!important;
}

#thumbnail-popover .ant-popover-inner-content {
    -webkit-box-shadow: 0 2px 8px black ;
            box-shadow: 0 2px 8px black ;
    padding: 0;
}.style__container--1umfk {
    width: 300px;
}

.style__container--1umfk .ant-list-item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.style__container--1umfk .ant-list-item-meta-description {
    min-width: 100px;
}

.style__container--1umfk .ant-card-meta {
    margin: -15px 0;
}

.style__container--1umfk .ant-card-meta-detail {
    margin-top: 1em;
}

.style__container--1umfk .ant-card-bordered {
    border-color: #6e6e6e;
    background-color: #4b4b4b;
}

.style__infoList--3CWMz {
    list-style: none;
    padding-left: 0;
}

.style__actionList---A349 button {
    border: none;
    border-right: 1px solid white;
    border-radius: 0;
    background-color: transparent;
    height: inherit;
    color: white;
}

.style__actionList---A349 a {
    color: white;
}

.style__actionList---A349 button:first-of-type{
    padding-left: 0;
}

.style__actionList---A349 button:last-of-type{
    border-right: none;
}

.style__title--2aWxh {
    color: white;
}

.style__actionList---A349 .style__disabled--34aP_ {
    color: #a0a0a0
}

.style__container--1umfk .ant-avatar {
    border: 1px solid #6e6e6e;
    cursor: pointer;
}

.style__container--1umfk .style__selected--2XrhK {
    border: 1px solid white;
}

.style__container--1umfk .ant-list-item-meta {
    padding-left: 16px;
}

.style__container--1umfk .ant-list-item-meta-description {
    min-width: 100px;
}

.style__container--1umfk .ant-list-item-action {
    margin-right: 16px;
    margin-left: 0;
}

.style__container--1umfk .ant-list-item-action li {
    color: white;
}

.style__container--1umfk .ant-list-item-action a {
    color: white;
}

.style__stage--3kByj {
    color: #a0a0a0;
}.style__container--10CJo {
    width: 300px;
}

.style__container--10CJo.ant-list-item {
    border-bottom: 0.5px solid #6e6e6e;
}

.style__container--10CJo .ant-list-item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.style__container--10CJo .ant-list-item-meta-description {
    min-width: 100px;
}

.style__container--10CJo .ant-card-meta {
    margin: -15px 0;
}

.style__container--10CJo .ant-card-meta-detail {
    margin-top: 1em;
}

.style__container--10CJo .ant-card-bordered {
    border-color: #6e6e6e;
    background-color: #4b4b4b;
}

.style__infoList--3Wsfn {
    list-style: none;
    padding-left: 0;
}

.style__actionList--xnqBR button {
    border: none;
    border-right: 1px solid white;
    border-radius: 0;
    background-color: transparent;
    height: inherit;
    color: white;
}

.style__actionList--xnqBR a {
    color: white;
}

.style__actionList--xnqBR button:first-of-type{
    padding-left: 0;
}

.style__actionList--xnqBR button:last-of-type{
    border-right: none;
}

.style__title--h-otp {
    color: white;
}

.style__actionList--xnqBR .style__disabled--3Z48w {
    color: #a0a0a0
}

.style__container--10CJo .ant-avatar {
    border: 1px solid #6e6e6e;
    cursor: pointer;
}

.style__container--10CJo .style__selected--ZrI2K {
    border: 1px solid white;
}

.style__container--10CJo .ant-list-item-meta {
    padding-left: 16px;
}

.style__container--10CJo .ant-list-item-meta-description {
    min-width: 100px;
}

.style__container--10CJo .ant-list-item-action {
    margin-right: 16px;
    margin-left: 0;
}

.style__container--10CJo .ant-list-item-action li {
    color: white;
}

.style__container--10CJo .ant-list-item-action a {
    color: white;
}.style__container--2ioFj {
    padding: 0em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}
.style__gallery-header--24Z5z {
    margin: auto;
    padding: 1em 1em 1em 0em;
    margin-right: 333px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}
.style__gallery-header--24Z5z .ant-btn {
    margin-top: 3px;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.style__gallery-header--24Z5z  .ant-form-item {
    margin: auto;
}
.style__side-bar-header--2r-CQ {
    padding: 1em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.style__album-side-bar--37iVJ {
    padding-right: 32px;
    min-width: 333px;
    border-left: 1px solid #6e6e6e;
    position: fixed;
    right: 0;
}
.style__album-side-bar--37iVJ .ant-radio-button-wrapper:first-child {
    border-radius: 0;
}
.style__album-side-bar--37iVJ .ant-radio-button-wrapper-checked:first-child {
    -webkit-box-shadow: -1px 0 0 0 #f2edfe !important;
            box-shadow: -1px 0 0 0 #f2edfe !important;
}
.style__list--2W8s7 {
    margin-right: 333px;
}
.style__list--2W8s7 .ant-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: auto;
}
.style__gallery-header-actions--2WMv7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}
.style__gallery-header-actions--2WMv7 input {
    background-color: #4b4b4b;
}
/*not in the dom tree but seems ok to be global*/
.ant-popover {
    z-index: 20000;
}
.style__container--2ioFj .ant-radio-button-wrapper {
    background: transparent;
    display: block;
    border: none;
}
.style__container--2ioFj .ant-radio-button-wrapper:before {
    background-color: transparent;
}
.style__gallery-title--1aUef {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
/*LIST STYLES*/
.style__container--2ioFj .ant-avatar {
    height: 110px;
    width: 110px;
}
.style__container--2ioFj .ant-list-item-content {
    width: 100%;
}
.style__container--2ioFj .ant-list-item-meta-avatar {
    margin-right: 0;
}
/* collapsed sider styling*/
.ant-layout-sider-collapsed .style__container--2ioFj {
    padding: 0;
}
.ant-layout-sider-collapsed .style__gallery-header--24Z5z {
    margin: auto;
}
.ant-layout-sider-collapsed .ant-list-item-meta-content,
.ant-layout-sider-collapsed .ant-list-item-content,
.ant-layout-sider-collapsed .style__search-for-cell--2min7 {
    display: none;
}
.ant-layout-sider-collapsed .style__gallery-title--1aUef,
.ant-layout-sider-collapsed button span {
    font-size: 1em;
}
.ant-layout-sider-collapsed .style__gallery-header--24Z5z {
    padding: 1em;

}
.ant-layout-sider-collapsed .ant-btn span {
    margin-left: 2px;
}
.ant-layout-sider-collapsed .ant-avatar {
    height: 70px;
    width: 70px;
}
.ant-layout-sider-collapsed .style__gallery-header--24Z5z {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ant-layout-sider-collapsed h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}
.ant-layout-sider-collapsed .style__gallery-header--24Z5z .ant-form-item,
.ant-layout-sider-collapsed .style__gallery-header--24Z5z .ant-btn {
    margin: auto;
    padding: 5px;
}
.ant-layout-sider-collapsed .ant-form-item{
    margin-bottom: 0;
}
.ant-affix {
    z-index: 99999;
}

.ant-layout-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.style__content--11OH4 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.style__blur--1EZAJ {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /></filter></svg>#filter');
    -webkit-filter: blur(8px);
            filter: blur(8px);
}

.style__header--3rm0D {
    display: inline-block;
    margin-right: 1em;
}

.style__selected-info--1DbKk {
    display: inline-block;
}

.style__label--2AoAh {
    color: #a0a0a0;
}

.style__header-section--1pTsF {
    text-align: center;
    display: block;
    border-top: 0.5px solid #6e6e6e;
    border-bottom: 0.5px solid #6e6e6e;
}

.style__sider--1e2a- {
    background-color: rgba(75, 75, 75, 0.81961);
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 3000;
    padding-bottom: 0;
}

.style__sider--1e2a- .ant-layout-sider-children {
    overflow: scroll;
}

.ant-collapse,
.ant-collapse-header,
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header
{
    border-radius: 0;
}

.style__color-menu--1I-K5 {
    min-height: 80vh;
}

.style__color-menu--1I-K5 .ant-collapse {
    border-top: 0;
    border-left: 0;
}

.style__color-menu--1I-K5 .ant-layout-sider-trigger {
    position: inherit;
}

.style__sider--1e2a-.ant-layout-sider-collapsed .ant-layout-sider-trigger{
    width: 20px !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:  #4b4b4b;
    border-left: 0.5px solid #6e6e6e;
    border-right: none
}

.style__sider--1e2a-.ant-layout-sider-collapsed .ant-layout-sider-trigger i {
    display: block;
    position: absolute;
    left: 3.5px;
    top: 50%;

    /*line-height: 100vh; */
}

.style__sider--1e2a- .ant-layout-sider-children {
    padding-left: 10%;
}

.style__sider--1e2a-.ant-layout-sider-collapsed .ant-layout-sider-children {
    padding-left: 0;
}

/*expanded */

.style__sider--1e2a- .ant-layout-sider-trigger {
    width: 10% !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.63137);
    border-left: 0.5px solid #6e6e6e;
    border-right: 0.5px solid #6e6e6e
}

.style__sider--1e2a- .ant-layout-sider-trigger i {
    display: none;
}


/*# sourceMappingURL=style.f1cf4c38dbad9ec94a059a10d325d8e3.css.map*/